
/* Headings */

.header {
    background-color: #4aaaa5; 
    color: white;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    padding: 20px;
    float: left;
    font-size: 2em;
    font-weight: bold;
}


h2{
    display: block;
    clear: both;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-size: 1.5em;
}

h3 {
    font-family: 'Georgia', Times, "Times New Roman", serif;
    color: #4aaaa5;
}

/* Navigation Bar */

.links {
    float:right;
}

ul {
    list-style-type: none;
}

li a {
    
    margin: 15px;
    text-decoration: none;
    color: #777777; 
}

/* Body */

.container {
    width: 960px;
    margin: 0 auto;
    
}


body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxMTEBUTExMTFhUXFxYZGBgYGRggHRscJRcXFxofIhMYHSglGB8tGxUaIT0jJSorLi4uFyIzODMtNygvMC4BCgoKBQUFDgUFDisZExkrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrKysrK//AABEIALcBEwMBIgACEQEDEQH/xAAXAAEBAQEAAAAAAAAAAAAAAAAAAQIH/8QALBAAAQMDAwQCAwADAQEBAAAAAQBh8BFRoQKRwXGi0eFB8TGBsSFiwlJCEv/EABQBAQAAAAAAAAAAAAAAAAAAAAD/xAAUEQEAAAAAAAAAAAAAAAAAAAAA/9oADAMBAAIRAxEAPwDtUA5KZr3ekzXu9KwngIEJ4CYptpHlMU20jypAOSgQDkpmvd6TNe70rCeAgQngKYptpHlMU20jykAu5QIBdymf+vSZr3elYTZggQmzBMcOXTFMC5dSAXcoEAu5SdWDJOrBkhNmDoLCbMHSdHLpOjl1IBdyyBALuWSE3YMkJuwZWE2YOgTowdIBZy6QCzl1J1csgTq5ZITdgkJuwVxwwdAxwwdSAWcpALOUzXufogZr3ekhN2CQm7BXFNtI8oGKbaR5SAclIByVM17vSBmvd6SE8BITwExTbSPKC4ptpHlIByUgHJUzXu9IGa93pWE8BSE8BXFNtI8oFf8AYBrZRAD8Afv8/wAVQZP2eArim2keUxTbSPKkA5KBAOSma93pM17vSsJ4CBCeAmKbaR5UxTbSPKQDkoEAu5TNe70ma93pWE2YIJCbMFcUw/VMU20jypALuUCAXcpOrBknVgysJswdBITZg6uOHLpOjl1IBdyyBALuWSE3YMk6sGVhNmDoEJswdIBZy6QCzl1JS7lkCdXLJCbsGSE3YMrjhg6BimGDpALOXUgFnLpnlyyBnl+iQm7BITdgrim2keUDFNtI8pALOUgFnKma93pAzXu9JCeAkJ4CYptpHlAxTbSPKsA5KQDkqZr3ekDNe70kJ4CQngK4ptpHlAxTbSPKkA5KQDkpmvd6QT/8g/8AyS98qoTfVq/X4/iIEA5KZr3ekzXu9KwngIEJ4CmKbaR5TFNtI8pAOSgQDkpmvd6TNe70qfs8BAhNmCYptpHlMU20jypALuUCAXcpnluiZrn0kJswQITZgrjhy6Y4cupALuUCAXcsk6sGSdWDKwmzB0CE2YOkAs5dJ0cupALuWQIBdyyQm7BkhN2DKzowdAnRg6kAs5dIBZy6Tq5ZAnVyyQm7BITdgrjhg6BimG6qQCzlIBZyma93pAzXu9JCbsEhN2CYptpHlAxTbSPKo+hyUgHJUzXu9IGa93pITwEhPAVxTbSPKBim2keVB9DkoPoclM17vSBmvd6SE8BITwFcU20jygV/20hrZRAD8aR+/wA/xVBITwExTbSPKYptpHlQfQ5KBAOSma93pM17vSsJ4CBCeApim2keUxTbSPKQC7lAgF3KZr3ekzXu9JCbMEFhNmCYphy6YpsH6qQC7lAgF3KTqwZJ1YMkJswdBYTZg6To5dJ0cupALuWQIBdyyQm7BklbsGVhNmDoE6MHSAWcukAs5dSdXLIE6uWSE3YJCbsGVxwwdAnRg6kAs5VgFnKk6uWQM17n6JCbsEhN2CYptpHlAxTbSPKsA5KQCzlTNe70gZr3ekP2eAkJ4CuKbaR5QMU20jypAOSqPoclTNe70gZr3ekhPASE8BXFNtI8oGKbaR5UgHJSAclM17vSBQf+SXvlEJHzqP6/H8RAgHJTNe70ma93pWE8BAhPATFNtI8pim2keVIByUCAclM17vSZr3ekhNmCBCbMFcU20+0xTbSPKkAu5QIBdyk6sGTPLdEhNmCCwmzBMcOXTHDl1IBdygQC7lknVgyTqwZWE2YOgQmzB0gFnLpALOXUgF3LIE6uWSE3YMkJuwZWdGDoE6MHSAWcupALOXSdXLIE6uWSE3YJCbsFcUwwdBMU20i3VWAWcpALOVM17vSBmvd6SE8BITdgrim2keUDFNtI8oPoclB9DkqZr3ekDNe70kJ4CQngK4ptpHlAxTbSPKkA5KQDkpmvd6QM17vSH7PASE8BXFNtI8oFf9tIa2UQA/Gkfv8AP8VQQ/Z4CYptpHlMU20jypAOSgQDkpmvd6TNe70rCeAgQngJim2keUxTbSPKkAu5QIBdyma93pM17vSQmzBAhNmCuOHLpj+By6kAu5QIBdyk6sGSdWDKwmzB0CE2YOkpZy6k6OXSAXcsgQC7lkhN2DJCbsGVlbMHQJ0YOpALOXVgFnLqTq5ZAnVyyQm7BITdgrjhg6BimGDqQCzlWAWcqZ/6fogZr3ekhN2CQm7BXFNtI8oJim2keVR9DkpALOVM17vSBmvd6SE8BITwFcU20jygYptpHlSAclWAclTNe70gZr3ekhPASE8BXFNtI8oGKbaR5UgHJSAclM17vSCUH/kl75VQm+o/r8fxEAfQ5KZr3ekzXu9KwngIEJ4CYptpHlMU20jypAOSgQDkpmvd6TNe70rCbMEEhNmCYptp9q4ptpHlSAXcoEAu5SdWDJOrBkhNmDoLCbMHSdHLpOjl1IBdyyBALuWSdWDJOrBlYTZg6BCbMHSAWcukAs5dSAXcsgTq5ZITdgyQm7BlZ0YOgmKYYOkAs5dWAWcupOrlkCdXLJCbsEhN2CYptpHlBcU20jypALOVYBZypmvd6QM17vSQngJCeAmKbaR5QXFNtI8pAOSkA5Kma93pAzXu9JCeAkJ4CuKbaR5QMU20jypAOSrAOSpmvd6QM17vSp+zwFITwFcU20jygVfSGtlEAPxpH7/P8VQZhPAVxTbSPKYptpHlSAclAgHJTNe70ma93pITwECE2YK4ptpHlTFNtI8pALuUCAXcpn/puiZr3elYTZggkJswVxTDl0xw5dSAXcoEAu5ZJ1YMk6sGVhNmDoEJswdJSzl0nRy6kAu5ZAgF3LJCbsGSE3YMrOjB0CdGDpALOXUgFnLpOrlkCdXLJCbsEhN2CuOGDoJimwbqg+hZyrALOVM/9ekDNe70kJuwSE3YK4ptpHlAxTbSPKD6HJUgHJTNe70gZr3ekP2eAkJ4CuKbaR5QMU20jykA5KkA5KZr3ekDNe70rCeApCeArim2keUDFNtI8qD6HJSAclM17vSBQWJeFEJHzqP6/H8RAgHJTNe70ma93pWE8BAP2eAmKbaR5UxTbSPKQDkoEAu5TNe70ma93pWE2YIJCbMFccP1UxTbS/VIBdygQC7lJ1YMk6sGSE2YOgsJswdJ0cuk6OXUgF3LIEAu5ZJW7BklbsGVhNmDoErZg6QCzl0gFnLqTq5ZAnVyyQm7BITdgyuOGDoGKYYOkAs5SAWcqZ5csgZrl+iQm7BITdgrim2keUDFNtI8qQCzlIBZyma93pAzXu9JCeAkJ4CuKbaR5QMU20jykA5KQDkqZr3ekDNe70kJ4CQngK4ptpHlAxTbSPKkA5KsA5Kma93pAzXu9KwngJCeAmKbaR5QKvpDQqqAH40j9/n+IgQngKYptpHlXFNtI8qQDkoEA5KZr3ekzXu9KwmzBBITZgmKbaR5TFNtI8pALuUCAXcpnlgyZ5borCbMECE2YOmOHLpOjl1IBdygQC7lknVgyTqwZWE2YOgQmzB0gFnLpAzl1IBdyyBKXcskJuwZITdgys6MHQOMMHSAWcukAs5dSdXLIE6uWSE3YJCbsFccN1QMU2A8qQCzlWAWcqZr3ekDNe70h+zwEhN2CuKbaR5QMU20jyg+hyUgHJUzXu9IGa93pITwEhPAVxTbSPKCYptpHlWAclSAclM17vSBmvd6VhPAUhPAVxTbSPKBim2keVB9DkpAOSma93pAoLEvCiEj51H9fj+IgQDkpmvd6TNe70rCeAgQngJim2keVMU20jykAu5QIBdyma93pM17vSQmzBAhNmCuKYcumKYfqpALuUCAXcpOrBknVgysJswdBITZg6s6OXSdHLqQC7lkCAXcskJuwZITdgysJswdAnRg6QCzl1IBZy6Tq5ZAnVyyQm7BITdgrxhg6BimGDqQCzlIBZymeX6IGa93pITdgkJuwVxTbSPKBim2keUgHJSAWcqZr3ekDNe70kJ4CQngJim2keUFxTbSPKD6HJSAclTNe70gZr3elYTwFITwFcU20jygYptpHlQfQ5KQDkpmvd6QM17vSsJ4CkJ4CuKbaR5QKm+kNCiDSfjSP3+f4iAfnJswSm/ww5KIgg+H/DuUPNC5swREFPy35NhYIB+L/DC7lEQQfD/hzcofnLmzBVEDgf5NhYIB+MCzuURBP4fw5uUPzlzZgiILwP8ALBkHxgWdyiIJ/K/4cuh+cm7CwVRAxQbBlB8YHJuVUQTIruXZD85PAsqiB/abDyoPjA5N1UQTIrufCH5yeAqiB/abDyoPjA5KqIJkV3PAQ/OTwFUQKb02HJUHxgclEQM/53PAVPzk8BEQKb/wclQfD/h3KIghpYl4UREH/9k=');
    background-image: repeat;
}

/* Footer */

footer {
    background-color: #777777;
    padding: 20px;
    clear: both;
    color: white;
    text-align: center;
    font-size: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Content DIV About ME  */

p { 
    color: #777777;
    line-height: 35px;
}

.content {
    clear: both;
}

/* Portfolio Img of Me */

.aboutme-photo {
    height:300px;
    width: 240px;
    display: block;
    float: left;
}

/* Connect/ Social Icons */

.social {
    height: 75px;
    width: 75px;
    margin: 10px;
    width: 960px;
    height: 400px;
}

/* Contact form */

.form {
    float: left;
    width: 550px;
    height: 500px;
    color:#777777;
    border: solid #777777 1px;
    padding: 20px;
    background-color: white;
}

.social {

}

/* Portfolio Images */

.portfolio-images {
    display: flex;
    flex-wrap: wrap
    
}
